<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" version="3.1">
    <servlet>
        <servlet-name>GoodbyeWorldServlet</servlet-name>
        <servlet-class>javax.servlet.http.HttpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoodbyeWorldServlet</servlet-name>
        <url-pattern>/goodbye</url-pattern>
    </servlet-mapping>
</web-app>
